.clients-track {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 60px;
    overflow: hidden;
    transition: all 0.5s ease;
    transition: max-height 7s ease;
}

.clients-track video {
    width: 200px;
    height: 200px;
}