.tabs {
    height: auto;
    position: relative;
    padding: 40px;
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
}

.tabs.active .square {
    height: calc(var(--btn-height) * 4);
    padding-top: 10px;
    cursor: pointer;
}

.tabs.active .square .btn {
    display: none;
}

.tabs::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: var(--coral);
    width: 0;
    transition: width 0.7s ease-out;
    margin: 0 40px;
}

.tabs.active::after {
    width: calc(100% - 80px);
}