.passwordForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: auto;
    grid-area: 1 / 1 / 3 / 3;
    width: 100%;
    height: 100%;
    padding: 45px;
    position: relative;
}


.passwordForm input {
    padding: 8px;
    font-size: 16px;
    background-color: transparent;
    border-radius: 30px;
    margin-left: 30px;
    border: 2px solid var(--coral);
}

.passwordForm input:focus {
    outline: none;
    border-color: var(--coral);
}

.passwordForm button {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    background-color: var(--coral);
    color: white;
    border: none;
    cursor: pointer;
}

.passwordForm span {
    color: var(--coral);
    cursor: pointer;
    font-size: 13px;
    margin-left: 20px;
}

.passwordForm .message {
    position: absolute;
    border: 2px solid;
    border-radius: 20px 0px 0px 20px;
    right: 0px;
    border-right: none;
    top: 20px;
    font-size: 15px;
    padding: 5px 15px;

}

.message.success {
    border-color: green;
    background-color: #d4edda;
    color: green;
}

.message.error {
    border-color: red;
    background-color: #f8d7da;
    color: red;
}

.passwordForm button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
    margin-top: 20px;
}

.logout {
    margin-bottom: 10px;
    border: 1px solid var(--coral);
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--coral);
    cursor: pointer;
    font-size: 14px;
}